<%# encoding: utf-8 %>

<form action="/admin/file" method="post" enctype='multipart/form-data' accept-charset="utf-8">
  <div>
    <label>
      File<br>
      <input type="file" name="doc[file]" />
    </label>
  </div>
  <div>
    <label>
      Description<br>
      <input type="text" name="doc[description]" value="" />
    </label>
  </div>
  <input type="submit" value="Save" />
</form>

