<%# encoding: utf-8 %>
<% @posts.each do |p| %>
  <article>
    <header>
      <h1>
        <a href='/<%= p['_id'] %>'><%= p['title'] %></a>
      </h1>
    </header>
    <p><%= p['summary'] %></p>
    <%= MD.render(p['content'].to_s) %>
  </article>
<% end %>

