@import url(http://fonts.googleapis.com/css?family=Vollkorn:400,700);

/* General */

* {
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; 
}
section, article, header, footer, nav, aside,
figure, figcaption { display: block; }
img { border: 0px; width: 100%; }
a { color: #24575e; text-decoration: none; }
a:hover:after { content: '→'; }
h1 { font-size: 2em; }
h2 { font-size: 1.5em ; }

/* Layout */

html {
  background: #708d91;
  color: #edd0b6;
  margin: 0; padding: 0;
  -webkit-font-smoothing: antialiased;
}
body {
  font: normal 100 2em/1.5em 'Vollkorn', serif;
  width: 100%; max-width: 960px;
  margin: 0 auto;
}
body > header, body > footer,
article > * { padding: 20px; }
body > section > ol { list-style: none; margin: 0; padding: 0; }

/* Header */

body > header {
  border-bottom: 1px solid #24575e;
}

/* Content */

body > section {
  background: #708d91;
}

ol article > * {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
}
ol article > header { width: 38%; }
ol article > section { width: 62%; }

p > code {
  font-family: 'Monaco', monospace;
  color: #24575e;
  font-size: 0.8em;
}
pre {
  font: normal 100 0.8em/1em 'Monaco', monospace;
  padding: 1em;
  background: #24575e;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

blockquote { color: #24575e; font-weight: bold; }
blockquote p:before { content: '“'; }
blockquote p:after { content: '”'; }

/* Footer */

body > footer {
  border-top: 1px solid #24575e;
  font-size: 0.615em;
}

/* Admin */

a[title=Create] { text-decoration: none; }
li form { display: inline; }
li form > * { margin: 0; }
input[title=Delete] { 
  border: 0; background: transparent; color: inherit; }
form > * { margin-top: 1em; margin-bottom: 1em; }
input[type=text], input[type=date], textarea {
  border: 0; margin: 0;
  width: 100%;
  font: normal 100 0.5em/1.2em 'Monaco', monospace;
  padding: 1em;
  background: #24575e;
  color: #edd0b6;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
}
textarea[name='doc[summary]'] { height: 10em; }
textarea[name='doc[content]'] { height: 25em; }
input[type=submit] { 
  cursor: pointer; border: 0; 
  font: normal 100 1em/1em 'Vollkorn', serif;
  background: #edd0b6; color: #708d91;
}
input[type=submit]:hover { color: #24575e; }

